.navbar{
    justify-content: center;
    background-color: #212529;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid{
    width: 50%;
}
.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}